<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CngBookingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>Cngstation.Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pumplogin</display-name>
    <servlet-name>Pumplogin</servlet-name>
    <servlet-class>Cngstation.Pumplogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pumplogin</servlet-name>
    <url-pattern>/Pumplogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userlogin</display-name>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>Cngstation.userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerpump</display-name>
    <servlet-name>Registerpump</servlet-name>
    <servlet-class>Cngstation.Registerpump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerpump</servlet-name>
    <url-pattern>/Registerpump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registeruser</display-name>
    <servlet-name>Registeruser</servlet-name>
    <servlet-class>Cngstation.Registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeruser</servlet-name>
    <url-pattern>/Registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcng</display-name>
    <servlet-name>addcng</servlet-name>
    <servlet-class>Cngstation.addcng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcng</servlet-name>
    <url-pattern>/addcng</url-pattern>
  </servlet-mapping>
</web-app>